---
import Base from '../layouts/Base.astro';
import Symbols from '../components/Symbols.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import Projets from '../components/Projets.astro';
import Emissions from '../components/Emissions.astro';
import Essence from '../components/Essence.astro';
import Programmes from '../components/Programmes.astro';
import Equipe from '../components/Equipe.astro';
import Contact from '../components/Contact.astro';
---
<Base>
  <Symbols />
  <Nav />
  <main>
    <Hero />
    <Stats />
    <Projets />
    <Emissions />
    <Essence />
    <Programmes />
    <Equipe />
    <Contact />
  </main>
</Base>
